.login-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image:url( "../../assets/Images/login-page/background-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}