<header class="header">
    <div class="logo">
      <img src="path/to/linedata-logo.png" alt="Linedata Logo">
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Code Fonction">
    </div>
    <div class="user-menu">
      <button class="menu-button">
        <i class="fa fa-bars"></i>
      </button>
      <button class="logout-button">Logout</button>
      <div class="user-profile">
        <img src="path/to/user-profile-pic.jpg" alt="User Profile">
      </div>
    </div>
  </header>
  <nav class="nav-bar">
    <ul>
      <li>Fonctions Courantes</li>
      <li>Services</li>
      <li>Modules</li>
      <li>Menu Général</li>
    </ul>
  </nav>
  