<footer class="footer">
    <div class="footer-section logo-section">
      <img src="../../assets/Images/Linedata_logo.png"  alt="Linedata Logo">
    </div>
    <div class="footer-section">
      <h4>Chorus</h4>
      <ul>
        <li><a href="#">A propos Linedata Chorus</a></li>
        <li><a href="#">Linedata</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Contactez-nous</h4>
      <ul>
        <li><a href="#">Contactez nos équipes</a></li>
        <li><a href="#">Portail électronique</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Suivez nous</h4>
      <ul class="social-icons">
        <li><a href="https://x.com/?lang=fr" class="focus" target="_blank"><i class="fa fa-times"></i></a></li>
        <li><a href="https://www.linkedin.com/mynetwork/catch-up/all/" class="focus" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://www.facebook.com/?locale=fr_FR" class="focus" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/" class="focus" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/@LinedataSolutions" class="focus" target="_blank"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
  </footer>
  