<footer class="footer">
  <div class="footer-container">
    <div class="footer-section logo-section">
      <img src="../../assets/Images/Linedata_Logo-removebg-preview.png"  alt="Linedata Logo" class="my-image">
    </div>
    <div class="footer-section non-logo">
      <h4>Chorus</h4>
      <ul>
        <li><a href="https://fr.linedata.com/linedata-chorus">A propos Linedata Chorus</a></li>
        <li><a href="https://fr.linedata.com/">Linedata</a></li>
      </ul>
    </div>
    <div class="footer-section non-logo">
      <h4>Contactez-nous</h4>
      <ul>
        <li><a href="https://fr.linedata.com/contact">Contactez nos équipes</a></li>
        <li><a href="https://my.linedata.com/?lang=en_US">Portail électronique</a></li>
      </ul>
    </div>
    <div class="footer-section social-section non-logo">
      <h4>Suivez nous</h4>
      <ul class="social-icons">
        <li><a href="https://twitter.com/linedata"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/company/7341"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://www.facebook.com/Linedata-322170334263/"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/linedata_global/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCuRMSIEuquGhYne8lEjNU0Q"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
    <!--<hr class="footer-divider">  -->
    </div>
    <div class="footer-bottom">
      <hr>
      <br>
      <ul>
        <li><a href="https://fr.linedata.com/conditions-generales">Conditions générales</a></li>
        <li><a href="https://www.linedata.com/privacy-policy">Politique de Confidentialité</a></li>
        <li><a href="https://www.linedata.com/cookies-policy">Charte de Gestion des Cookies</a></li>
        <li><a href="https://linedata.integrityline.com/setup">Signaler une alerte éthique</a></li>
        </ul>
        <p>&copy; Linedata, 2024. All Rights Reserved.</p>
      </div>
</footer>

