<div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 0%;">
    <mat-grid-list cols="3" rowHeight="5:1" >
      <mat-grid-tile>
        <div class="input-container">
          <label for="portfolio-code">Code Lot de portefeuilles</label>
          <input id="portfolio-code" type="text"  placeholder="LOTSKO" />
        </div>        
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="input-container">
          <label for="portfolio-code">Nombre de portefeuilles dans le lot</label>
          <input id="portfolio-code" type="text"  placeholder="3" />
        </div>     
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="input-container">
          <label for="portfolio-code">Portefeuille technique</label>
          <select id="dropdown-list" name="dropdown-list">
            <option value="option1">Oui</option>
            <option value="option2">Non</option>
          </select>
        </div>     
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="input-container">
          <label for="portfolio-code">Libellé lot de portefeuilles</label>
          <input id="portfolio-code" type="text"  placeholder="LOT_SKO_TST" />
        </div>     
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="input-container">
          <label for="portfolio-code">Date de création</label>
          <input id="portfolio-code" type="text"  placeholder="11/10/2022" />
        </div>     
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="input-container">
          <label for="portfolio-code">Portefeuille technique de reférence</label>
          <select id="dropdown-list" name="dropdown-list">
            <option value="option1">Oui</option>
            <option value="option2">Non</option>
          </select>
        </div>     
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="input-container">
          <label for="portfolio-code">Portefeuille de reférence</label>
          <input id="portfolio-code" type="text"  placeholder="9911576" />
        </div>     
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="input-container">
          <label for="portfolio-code">Date de modification</label>
          <input id="portfolio-code" type="text"  placeholder="11/10/2022" />
        </div>     
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="input-container">
          <label for="portfolio-code">Modifié par</label>
          <input id="portfolio-code" type="text"  placeholder="sko" />
        </div>     
      </mat-grid-tile>
    </mat-grid-list>
  </div>