<header class="header">
    <div class="logo">
      <a href="index.html">
        <img src="../../assets/Images/Linedata_logo.png" alt="Linedata Logo">
      </a>
    </div>
    <div class="search-bar">
      <mat-form-field>
        <input type="text" placeholder="Search" matInput [formControl]="searchControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="user-menu">
      <button class="menu-button">
        <i class="fa fa-bars"></i>
      </button>
      <button class="logout-button">Logout</button>
      <div class="user-profile" (click)="toggleDropdown()">
        <img src="../../../../../assets/Images/user.jpg" alt="User Profile">
      </div>
      <app-dropdown [isOpen]="isDropdownOpen" (logoutClicked)="onLogout()" (close)="closeDropdown()"></app-dropdown>    </div>
  </header>