<header class="header">
    <div class="logo">
      <a href="index.html">
        <img src="../../assets/Images/Linedata_logo.png" alt="Linedata Logo">
      </a>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Search" class="search-input" [formControl]="searchControl" (focus)="onFocus()" (blur)="onBlur()">
      <div class="autocomplete-list" *ngIf="showOptions && (filteredOptions | async)?.length">
        <div *ngFor="let option of filteredOptions | async" (click)="selectOption(option)">
          {{ option }}
        </div>
      </div>
    </div>
    <div class="user-menu">
      <button class="menu-button">
        <i class="fa fa-bars"></i>
      </button>
      <button class="logout-button">Logout</button>
      <div class="user-profile" (click)="toggleDropdown()">
        <img src="../../../../../assets/Images/user.jpg" alt="User Profile">
      </div>
      <app-dropdown [isOpen]="isDropdownOpen" (logoutClicked)="onLogout()" (close)="closeDropdown()"></app-dropdown>    </div>
  </header>