:host {
  display: block;
  width: 100%;
  overflow-x: hidden;
  background-color: #F5F1F1;
  margin-bottom: 0px;
}

.mat-grid-list {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 0px;
}

.mat-grid-tile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 90%; /* Ensure the container takes full width of the tile */
  box-sizing: border-box;
  padding: 10px; /* Optional: add some padding */
}
.input-search-field{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.input-search-field input {
  flex-grow: 1;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}
.search-lot-button {
  background-color: white;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}
.search-lot-button i {
  font-size: 16px;
}
label {
  font-size: 14px;
  color: #000;
  margin-bottom: 4px;
}

.input-field, select {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.input-field:hover, select:hover,.input-search-field:hover {
  border: 1px solid #ccc;
  border-width: 2px;
}

.input-field:focus, select:focus, .input-search-field input:focus{
  border: 1px solid #555;
  
  border-width: 2px;
}

.input-field::placeholder,.input-search-field input::placeholder {
  color: #ccc;
}

.search-button {
  display: flex;
  align-items: center;
  color: #555;
  background-color: white;
  font-size: medium;
  font-weight: 500;
  border: none;
  margin: 2%;
  padding: 10px 20px;
  border-radius: 9%;
  letter-spacing: 1px;
}

.search-button:hover {
  color: white;
  background-color: #555;
  font-weight: bold;
}

i {
  margin-top: 5%;
  margin-right: 10%;
}