<div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 0%;">
  <mat-grid-list cols="3" rowHeight="5:1">
    <mat-grid-tile>
      <div class="input-container">
        <label for="portfolio-lot-code">Code Lot de Portefeuilles</label>
        <div class="input-search-field">
          <input id="portfolio-lot-code" [(ngModel)]="aidlot" type="text" placeholder="Saisir le code de lot de portefeuilles" />
          <button mat-raised-button class="search-lot-button" (click)="listAllCreatedWallets()">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="input-container">
        <label for="portfolio-nb">Nombre de Portefeuilles dans le Lot</label>
        <input class="input-field" id="portfolio-nb" type="number" placeholder="Saisir le nombre de portefeuilles dans ce lot" />
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="input-container">
        <label for="portfolio-tech">Portefeuille Technique ?</label>
        <select id="dropdown-list" name="dropdown-list">
          <option value="option1">Oui</option>
          <option value="option2">Non</option>
        </select>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="input-container">
        <label for="portfolio-lib">Libellé Lot de Portefeuilles</label>
        <input class="input-field" id="portfolio-lib" type="text" placeholder="Saisir le libellé du lot correspondant" />
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="input-container">
        <label for="portfolio-date-cre">Date de Création</label>
        <input class="input-field" id="portfolio-date-cre" type="date" style="color: #ccc;"/>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="input-container">
        <label for="portfolio-code-tech">Portefeuille Technique de Workflow ?</label>
        <select id="dropdown-list" name="dropdown-list">
          <option value="option1">Oui</option>
          <option value="option2">Non</option>
        </select>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="input-container">
        <label for="portfolio-ref">Portefeuille de Reférence</label>
        <input class="input-field" id="portfolio-ref" type="text" placeholder="Saisir le code du portefeuille de reférence" />
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="input-container">
        <label for="portfolio-date-modif">Date de modification</label>
        <input class="input-field" id="portfolio-date-modif" type="date" style="color: #ccc;" />
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="input-container">
        <label for="portfolio-modif">Modifié par</label>
        <input class="input-field" id="portfolio-modif" type="text" />
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <button mat-raised-button class="search-button">
        <i class="fa-solid fa-magnifying-glass"></i>
        Chercher
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div> 
