<table mat-table [dataSource]="dataSource">

  <!-- Position Column -->
  <ng-container matColumnDef="No">
    <th mat-header-cell *matHeaderCellDef> Numéro </th>
    <td mat-cell *matCellDef="let element"> {{ element.No }} </td>
  </ng-container>

  <!-- Groupe Initial Column -->
  <ng-container matColumnDef="grpInit">
    <th mat-header-cell *matHeaderCellDef> Groupe Initial </th>
    <td mat-cell *matCellDef="let element"> {{ element.grpInit }} </td>
  </ng-container>

  <!-- Portefeuille Initial Column -->
  <ng-container matColumnDef="prtfInit">
    <th mat-header-cell *matHeaderCellDef> Portef. Initial </th>
    <td mat-cell *matCellDef="let element"> {{ element.prtfInit }} </td>
  </ng-container>

  <!-- Groupe Final Column -->
  <ng-container matColumnDef="grpFin">
    <th mat-header-cell *matHeaderCellDef> Groupe Final </th>
    <td mat-cell *matCellDef="let element"> {{ element.grpFin }} </td>
  </ng-container>

  <!-- Portefeuille Final Column -->
  <ng-container matColumnDef="prtfFin">
    <th mat-header-cell *matHeaderCellDef> Portef. Final </th>
    <td mat-cell *matCellDef="let element"> {{ element.prtfFin }} </td>
  </ng-container>

  <!-- Code du Lot Column -->
  <ng-container matColumnDef="codeLot">
    <th mat-header-cell *matHeaderCellDef> Code du Lot </th>
    <td mat-cell *matCellDef="let element"> {{ element.codeLot }} </td>
  </ng-container>

  <!-- Header Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Row Data -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="NB-Afficher">
</mat-paginator>
