.login-page{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image:url( "../../../../assets/Images/login-page/background-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer {
    width: 100%; /* Make sure the footer takes the full width of the page */
  }
